{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/css/home.css" >{% endblock %}

{% block body %}
<div class="whole-page" >
    <form action="#" method="post">
    <div class="home" >
        <div class="welcome" >
            <img src="/static/images/icons8-white.png" />
            <h2>Login Box</h2>
        </div>
        <div class="login-box">
            <label>Name:</label>
            <input type="text" placeholder="enter your name" name="name" value="{{name}}" />
        </div>
        <div class="join" >
            <button type="button" id="join-btn" onClick="showInput()" >Join a Room</button>
            <input type="text" id="inputField" placeholder="room code" name="code" value="{{code}}" />
            <button type="submit" id="submit-btn" name="join" >Join The Room</button>
        </div>
        <div class="create" >
            <button type="submit" name="create" >create a room</button>
        </div>
        <div class="history" >
            <a href="/show" >History</a>
        </div>
    </div>
    {% if error %}
        <div class="error" >
            <ul>
                <li>{{error}}</li>
            </ul>
        </div>
    {% endif %}
    </form>
</div>

{% endblock %}

{% block javascript %}
<script>
    function showInput() {
        document.getElementById('inputField').style.display = 'flex';

        var button = document.getElementById('join-btn');
        button.parentNode.removeChild(button);

        document.getElementById('submit-btn').style.display = 'flex';
    }

</script>
{% endblock %}
